.container {
  margin-top: 12.5vh;
}

.phone {
  height: 75vh;
}

h4 {
  font-weight: 400;
}

.top-gap {
  margin-top: 17.5vh;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-top: 32px;
  }
  .top-gap {
    margin-top: 32px;
  }
  .phone {
    height: 50vh;
  }
  body {
    text-align: center;
  }
}
