/* Welcome to unfunny code comments part 2 */
.navbar {
  height: 10vh;
  margin: 2.5vh 0vh 12.5vh 0vh;
}

/* Feet 2.0 */
footer {
  height: 10vh;
  margin-top: 30vh;
  color: #bdbdbd;
}

h4 {
  font-weight: 400;
}

/* looking left, because you didn't margin right */
.logo {
  margin-right: 16px;
}

/* I'm talking about this: https://en.wikipedia.org/wiki/Phone */
.phone {
  height: 50vh;
}

/* Almost as good as container-text */
.text-container {
  height: 20vh;
  margin-top: 10vh;
}

/* I don't actually own a store :( That's the Google Play Store Button */
.store-button {
  max-width: 200px;
}

/* Blue bubble effect */
@media only screen and (min-width: 1200px) {
  .phone {
    height: 50vh;
    display: flex;
    position: absolute;
    margin-left: 5.5vw;
    align-items: center;
    justify-content: center;
  }

  .bubble {
    height: 45vh;
    width: 45vh;
    position: absolute;
    top: -2.5vh;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: linear-gradient(to top, #03a9f4 0%, #67daff 100%);
    opacity: 0.3;
  }
}

/* Mobile devices like it centered */
@media only screen and (max-width: 800px) {
  body {
    text-align: center;
  }
  .navbar {
    height: 5vh;
    margin: 2.5vh 0vh 7.5vh 0vh;
  }
  .text-container {
    height: 20vh;
    margin-top: 7.5vh;
  }
  footer {
    margin-top: 12.5vh;
  }
}

/* Mobile devices like it centered */
@media only screen and (max-width: 400px) {
  footer {
    margin-top: 22.5vh;
  }
}
